<h1 class="section_header">MUSICIANS</h1>
  <hr />

<div id="musician">
 
  <div class="span-12 column">  
    <h1><%= link_to "Sandy Bailey", sandy_path %></h1>
    <div><%= link_to sandy_img, sandy_path %><br /></div>
    <h3><%= sandy_desc %></h3>
    <audio controls autobuffer> 
       <source src="https://s3.amazonaws.com/artsandmusicfactory/ravensflesh/02_(sample).ogg" />
       <source src="https://s3.amazonaws.com/artsandmusicfactory/ravensflesh/02_(sample).mp3" />
    </audio>
  </div>
  <div class="span-12 column last">  
    <h1><%= link_to "Alecia Chakour", alecia_chakour_path %></h1>
    <div><%= link_to alecia_img, alecia_chakour_path %><br /></div>
    <h3><%= alecia_desc %></h3>
    <audio controls autobuffer> 
       <source src="https://s3.amazonaws.com/artsandmusicfactory/loomi/04_(sample).ogg" />
       <source src="https://s3.amazonaws.com/artsandmusicfactory/loomi/04_(sample).mp3" />
    </audio>    
  </div>

  <div class="span-12 prepend-top column">  
    <h1><%= link_to "Jeff D'Antona", jeff_dantona_path %></h1>
    <div><%= link_to jeff_img, jeff_dantona_path %><br /></div>
    <h3><%= jeff_desc %></h3>
    <audio controls autobuffer> 
       <source src="https://s3.amazonaws.com/artsandmusicfactory/oceanrising/02_(sample).ogg" />
       <source src="https://s3.amazonaws.com/artsandmusicfactory/oceanrising/02_(sample).mp3" />
    </audio>
  </div>
  <div class="span-12 prepend-top column last">  
    <h1><%= link_to "Geoff Vidal", geoff_vidal_path %></h1>
    <div><%= link_to geoff_img, geoff_vidal_path %><br /></div>
    <h3><%= geoff_desc %></h3>
    <audio controls autobuffer> 
       <source src="https://s3.amazonaws.com/artsandmusicfactory/shelikesthat/01_(sample).ogg" />
       <source src="https://s3.amazonaws.com/artsandmusicfactory/shelikesthat/01_(sample).mp3" />
    </audio>
  </div>

</div>
