<h1 class="section_header">MUSICIANS</h1>
  <hr />

<div>
  <div class="span-12 column">  
    <h1 class="m_name"><%= link_to sandy_nm, sandy_path %></h1>
    <div class="m_img"><%= link_to sandy_img, sandy_path %><br /></div>
    <h3 class="m_desc"><%= sandy_desc %></h3>
    <object style="margin-left:10px;" type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer1" height="24" width="290"><param name="movie" value="audio/player.swf" /><param name="FlashVars" value="playerID=audioplayer1&amp;soundFile=audio/01.mp3" /><param name="quality" value="high" /><param name="menu" value="false" /><param name="wmode" value="transparent" />
  	</object>
  </div>

  <div class="span-12 column last">  
    <h1 class="m_name"><%= link_to musician2_nm, musician2_path %></h1>    
    <div class="m_img"><%= link_to musician2_img, musician2_path %></div>
    <h3 class="m_desc"><%= musician2_desc %></h3>
    <object style="margin-left:10px;" type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer2" height="24" width="290"><param name="movie" value="audio/player.swf" /><param name="FlashVars" value="playerID=audioplayer2&amp;soundFile=audio/02.mp3" /><param name="quality" value="high" /><param name="menu" value="false" /><param name="wmode" value="transparent" />
  	</object>
  </div>

  <div class="span-12 column">  
    <h1 class="m_name"><%= link_to musician3_nm, jeff_dantona_path %></h1>
    <div class="m_img"><%= link_to musician3_img, jeff_dantona_path %><br /></div>
    <h3 class="m_desc"><%= musician3_desc %></h3>
    <object style="margin-left:10px;" type="application/x-shockwave-flash" data="audio/player.swf" id="audioplayer3" height="24" width="290"><param name="movie" value="audio/player.swf" /><param name="FlashVars" value="playerID=audioplayer3&amp;soundFile=audio/oceanrising/02.mp3" /><param name="quality" value="high" /><param name="menu" value="false" /><param name="wmode" value="transparent" />
  	</object>    
  </div>
</div>
