<footer class="span-24">
  <div class="left">
    <%= link_to "The Arts Block", artsblock_path %> 289 Main St</span>
    <br />
    <span><%= link_to "The Pushkin", pushkin_path %> 4 Federal St</span>
    <br />
    <span>Greenfield, MA 01301</span>    
    <br />
    <br />
    <span>©2010 Global American Television - All Rights Reserved</span>
  </div>
  <div class="right">
    <%= link_to blog_big, blog_path %>
    <%= link_to artsblock_big, artsblock_path %>
    <%= link_to pushkin_big, pushkin_path %>
    <%= link_to newsletter, signup_path %>
  </div>
</footer>
