<header>
  <%= link_to logo, root_path %>
  <div id="icon_links">
    <%= link_to blog, blog_path %>
  </div> 
  <nav>
    <ul>
      <li><%= link_to "HOME", root_path %></li>      
      <li><%= link_to "EVENTS", '#' %></li>
      <li><%= link_to "ARTISTS", '#' %></li>
      <li><%= link_to "GALLERIES", '#' %></li>
      <li><%= link_to "MUSICIANS", musicians_path %></li>
      <li><%= link_to "PUSHKIN STUDIO", '#' %></li>
      <li><%= link_to "STORE", '#' %></li>
      <li><%= link_to "BLOG", '#' %></li>
      <li><%= link_to "INFO & CONTACT", info_path %></li>
      <% if signed_in? %>
      <li><%= link_to "PROFILE", current_user %></li>
      <li><%= link_to "SIGN OUT", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "SIGN IN", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
